.content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5em;
  width: 50%;
}

.error-message {
  color: red;
}

select, input {
  grid-column: span 2;
  padding: 0.5em;
}

input, div:not(.content) {
  grid-column: span 3;
}
